<div class="py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div>
                <h1>Humana Project Management Tool</h1>
            </div>


            <span class="anchor" id="formLogin"></span>

            <!-- form card login -->
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0">Login</h3>
                </div>
                <div class="card-body">
                    <form class="form">
                        <div class="form-group">
                            <label for="uname1">Username</label>
                            <input type="text" class="form-control rounded-0" [(ngModel)]="loginUserData.email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control rounded-0" [(ngModel)]="loginUserData.password" name="password" required>
                        </div>
                        <a (click)="alertMessage()" class="btn btn-success float-right" href="home-dashboard">Login</a>
                        <a class="btn btn-success float-left" href="register">New user</a>
                    </form>

                </div>
                <!--/card-block-->
            </div>
            <!-- /form card login -->

            <div *ngIf = "alert" class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Success!</strong> You have been registered.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">

                </button>
            </div>


        </div>


    </div>
</div>
